<launch>
  <node name="test_octomap" pkg="octomap_server" type="octomap_server_node" args="$(find vfh_rover)/fr_079.bt">
  <!-- <node name="test_octomap" pkg="octomap_server" type="octomap_server_node" args="/home/lab101/catkin_ws/src/vfh3d/fr_079.bt"> -->
    <param name="max_depth" value="13" />
  </node>
  <node name="goal_pub" pkg="vfh_rover" type="goal_pub.py"/>
  <node name="rover_sim" pkg="vfh_rover" type="simRover.py"/>
  <node name="vfh" pkg="vfh_rover" type="vfh_rover_node"/>

  <arg name="rviz" default="true" />
  <group if="$(arg rviz)">
      <node launch-prefix="nice" pkg="rviz" type="rviz" name="rviz_vfh_rover" args="-d $(find vfh_rover)/vfh3d_test.rviz" />
  </group>
</launch>

